
<h2 class="text-center">TREE Company Limited</h2>
<hr />
<img src="~/images/bg1.jpg" class="img-thumbnail rounded" height="200" width="200px" />
<img src="~/images/bg2.jpg" class="img-thumbnail rounded" height="200" width="200px" />
